@import url('https://fonts.googleapis.com/css?family=Inter');
.iphone-mini {
  background-color: transparent;
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: center;
  width: 100%;
}

input, select, textarea{
  color: white;
  
}

select option {
  margin: 40px;
  background: rgba(218, 16, 16, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

::placeholder {
  text-align: right;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.30);
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.iphone-mini .placeholder1 {
  text-align: right;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.30);
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.iphone-mini .div {
  border-radius: 24px;
  background: #09141A;
  width: 375px;
  flex-shrink: 0;
  min-height: 812px;
}

.iphone-mini .overlap {
  align-content: center;
  margin-left:13px;
  width: 359px;
  border-radius: 16px;
  background: #162329;
}

.iphone-mini .textBox {
  top: 140px;
  left: 13px;
  position: relative;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.233px;
}

.iphone-mini .textBox12 {
  margin-top: 87px;
  left: 13px;
  position: relative;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.233px;
  margin-bottom: 0;
}

.iphone-mini .textBox1 {
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  left: 27px;
}

.iphone-mini .text-about {
  color: rgba(255, 255, 255, 0.33);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 15px;
  margin-left: 27px;
  max-width: 275px;
}

.iphone-mini .interest-box {
  display: inline-flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin-right: 10px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.06);
  margin-bottom: 12px;
}

.iphone-mini .text-interest {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

.iphone-mini .text-about-value {
  color: #FFF;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.iphone-mini .icon-edit {
  position: absolute;
  right: 14px;
  top: 8px;
}

.iphone-mini .text-wrapper {
  position: absolute;
  top: 16px;
  left: 18px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff66;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-mini .overlap-group {
  position: absolute;
  width: 327px;
  height: 51px;
  top: 278px;
  left: 23px;
  background-color: #ffffff0f;
  border-radius: 9px;
  border-width: 0cap;
}

.iphone-mini .overlap-form {
  width: 196px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.22);
  background: rgba(217, 217, 217, 0.06);
  margin-right: 14px;
  margin-left: 29px;

}

.iphone-mini .text-form {
  color: rgba(255, 255, 255, 0.33);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.iphone-mini .vector {
  position: absolute;
  width: 20px;
  height: 17px;
  top: 17px;
  left: 289px;
}

.iphone-mini .numeric-keyboard {
  position: absolute;
  width: 375px;
  height: 291px;
  top: 521px;
  left: 0;
  background-color: #151515d9;
  backdrop-filter: blur(108.73px) brightness(100%);
  -webkit-backdrop-filter: blur(108.73px) brightness(100%);
}

.iphone-mini .home-indicator {
  position: absolute;
  width: 375px;
  height: 34px;
  top: 257px;
  left: 0;
}

.iphone-mini .home-indicator-2 {
  position: relative;
  width: 134px;
  height: 5px;
  top: 21px;
  left: 121px;
  background-color: var(--label-colordarkprimary);
  border-radius: 100px;
}

.iphone-mini .row {
  display: flex;
  width: 363px;
  height: 46px;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  top: 6px;
  left: 6px;
}

.iphone-mini .key {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #6b6b6b;
  border-radius: 4.6px;
  box-shadow: 0px 1px 0px #0000004c;
}

.iphone-mini .letter {
  position: absolute;
  width: 118px;
  height: 26px;
  top: 1px;
  left: 0;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.29px;
  line-height: normal;
  white-space: nowrap;
}

.iphone-mini .label {
  position: absolute;
  width: 118px;
  top: 27px;
  left: 0;
  font-family: "SF Pro Text-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 2px;
  line-height: normal;
}

.iphone-mini .row-2 {
  display: flex;
  width: 363px;
  height: 46px;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  top: 59px;
  left: 6px;
}

.iphone-mini .row-3 {
  display: flex;
  width: 363px;
  height: 46px;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  top: 112px;
  left: 6px;
}

.iphone-mini .row-4 {
  display: flex;
  width: 363px;
  height: 46px;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  top: 165px;
  left: 6px;
}

.iphone-mini .key-2 {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.iphone-mini .letter-2 {
  position: absolute;
  width: 118px;
  height: 30px;
  top: 7px;
  left: 0;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--label-colordarkprimary);
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.29px;
  line-height: normal;
}

.iphone-mini .union {
  position: absolute;
  width: 23px;
  height: 17px;
  top: 14px;
  left: 47px;
}

.iphone-mini .text-wrapper-2 {
  position: absolute;
  top: 157px;
  left: 41px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-mini .no-account-register {
  position: absolute;
  width: 163px;
  height: 13px;
  top: 457px;
  left: 107px;
}

.iphone-mini .component {
  position: absolute;
  width: 331px;
  height: 48px;
  top: 354px;
  left: 22px;
  opacity: 0.3;
}

.iphone-mini .group {
  width: 333px;
  height: 48px;
}

.iphone-mini .box {
  width: 327px;
  height: 51px;
}

.iphone-mini .box .rectangle {
  /* position: fixed; */
  width: 327px;
  height: 51px;
  /* top: 0;
  left: 0; */
  background-color: #ffffff0f;
  border-radius: 9px;
}

.iphone-mini .get-OTP-wrapper {
  display: flex;
  width: 331px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: linear-gradient(180deg, rgb(98, 205, 203) 0%, rgb(69, 153, 219) 100%);
}

.iphone-mini .get-OTP {
  position: absolute;
  top: 13px;
  left: 145px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.23px;
  line-height: normal;
  white-space: nowrap;
}

.iphone-mini .system-ios-statusbar {
  position: fixed;
  width: 375px;
  height: 44px;
  top: 0;
  left: -1px;
}

.iphone-mini .battery {
  position: absolute;
  width: 24px;
  height: 11px;
  top: 17px;
  left: 332px;
}

.iphone-mini .wifi {
  position: absolute;
  width: 15px;
  height: 11px;
  top: 17px;
  left: 312px;
}

.iphone-mini .mobile-signal {
  position: absolute;
  width: 17px;
  height: 11px;
  top: 18px;
  left: 290px;
}

.iphone-mini .time-style {
  position: absolute;
  width: 54px;
  height: 21px;
  top: 12px;
  left: 17px;
}

.iphone-mini .text-wrapper-3 {
  position: absolute;
  width: 54px;
  height: 18px;
  top: 1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.3px;
  line-height: normal;
  white-space: nowrap;
}

.iphone-mini .system-ios {
  position: fixed;
  width: 375px;
  height: 34px;
  top: 778px;
  left: 0;
}

.iphone-mini .group-2 {
  position: relative ;
  height: 17px;
  top: 81px;
  left: 18px;
}



.iphone-mini .group-2 .Johndoe {
  text-align: center;
  color: white;
  font-size: 14;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word ;
  position: relative;
  left: -15px;
}

.iphone-mini .group-2 .img3 {
  position: absolute;
  width: 9px;
  height: 16px;
  top: 1px;
  right: 60px;
}


.iphone-mini .img {
  position: absolute;
  width: 9px;
  height: 16px;
  top: 1px;
  left: -1px;
}


.iphone-mini .div .box1 {
  width: 359px;
  height: 190px;
  flex-shrink: 0;
  position: relative;
  /* top: 126px; */
  margin-top: 110px;
  display: flex;
  justify-content: center;
}

.iphone-mini .div .box2 {
  width: 359px;
  /* flex-shrink: 0; */
  position: relative;
  /* top: 126px; */
  margin-top: 110px;
  display: flex;
  justify-content: center;
}

.iphone-mini .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 17px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-mini .text-register {
  background: var(--Golden, linear-gradient(74deg, #94783E -6.8%, #F3EDA6 16.76%, #F8FAE5 30.5%, #FFE2BE 49.6%, #D5BE88 78.56%, #F8FAE5 89.01%, #D5BE88 100.43%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.iphone-mini .text-noAccount {
  color: #FFF;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}